In [15]:
import requests
from os import path
import pandas as pd

dat_files = {'raw_dat':{'url':'http://usc.data.socrata.com/api/views/u7m9-48qx/rows.csv?accessType=DOWNLOAD',
                       'filename':'Citizen_Connect_Variables__LA_.csv'},
             'census_tract_shapes':{'url':'http://usc.data.socrata.com/api/views/i8xf-cx8k/rows.csv?accessType=DOWNLOAD',
                             'filename':'la_county_tracts_from_jczq_z5ui.csv'},
             'neighborhood_shapes':{'url':'http://usc.data.socrata.com/api/views/nm6n-sgfb/rows.csv?accessType=DOWNLOAD',
                             'filename':'Neighborhoods_from_gw34_aa8i.csv'},
             'city_shapes':{'url':'http://usc.data.socrata.com/api/views/a8wh-tdhu/rows.csv?accessType=DOWNLOAD',
                             'filename':'Los_Angeles_Incorporated_Cities.csv'}
            }

def import_data(which_data):
    # available at https://ladata.myneighborhooddata.org/#!/view-data
    filepath = "../../localdata/" + which_data['filename']
    if not path.exists(filepath):
        filepath
        data_file = requests.get(which_data['url'])
        open(filepath, 'wb').write(data_file.content)
    return True

In [14]:
import_data(dat_files['neighborhood_shapes'])

True

In [18]:
raw_dat = pd.read_csv ('../../localdata/' + dat_files['raw_dat']['filename'])

In [20]:
raw_dat[:5]

,Policy Area,Dataset,Variable,Name,Date,geoid,Tract,Neighborhood,Value,Denominator,Denominator Description,Row ID,Location 1,Latitude,Longitude
0,Employment & Income,Workers by Industry,"Professional, Scientific & Technical Srvcs Wor...",Census Tract 1343.05,01/01/2014,1400000US06037134305,134305.0,Canoga Park,44.0,1441.0,16+ Full Time Employed Population,"Professional,_Scientific_&_Technical_Srvcs_Wor...","(34.21763889, -118.60170751)",NaN,NaN
1,Employment & Income,Workers by Industry,Public Admin Workers,Census Tract 1957.20,01/01/2011,1400000US06037195720,195720.0,Echo Park,27.0,782.0,16+ Full Time Employed Population,Public_Admin_Workers_2011_1400000US06037195720,"(34.07376751, -118.26339054)",NaN,NaN
2,Employment & Income,Workers by Industry,Public Admin Workers,Census Tract 5722.02,01/01/2016,1400000US06037572202,572202.0,Long Beach,97.0,1241.0,16+ Full Time Employed Population,Public_Admin_Workers_2016_1400000US06037572202,"(33.80803043, -118.19503403)",NaN,NaN
3,Employment & Income,Workers by Industry,"Professional, Scientific & Technical Srvcs Wor...",Census Tract 1172.01,01/01/2015,1400000US06037117201,117201.0,North Hills,72.0,1090.0,16+ Full Time Employed Population,"Professional,_Scientific_&_Technical_Srvcs_Wor...","(34.24267722, -118.47010174)",NaN,NaN
4,Employment & Income,Workers by Industry,"Real Estate, Rental & Leasing Workers",Census Tract 2722.01,01/01/2010,1400000US06037272201,272201.0,Mar Vista,20.0,865.0,16+ Full Time Employed Population,"Real_Estate,_Rental_&_Leasing_Workers_2010_140...","(34.00038801, -118.43413874)",NaN,NaN